app.config
ApplicationUpdate.Client.dll
builder_known_files.txt
CBLoader.exe
CBLoaderKDM.bat
Changelog.txt
Character Builder + KDM.lnk
CharacterBuilder.exe
CharacterBuilder.exe.config
CharacterBuilderUpdater.exe
CharacterSheetViewer.exe
combined.dnd40.encrypted
credits.rtf
D20RulesEngine.dll
DataBinding.dll
DDICharacterInterchange.dll
default.cbconfig
Elevator.config
Elevator.exe
Four Builders.bat
gpl-2.0.txt
HelpWizard.xml
HeroicDemo.update
NativeDebugWrappers.dll
patcher_lib.decode.dll
patcher_lib.dll
patcher_lib.lib
patcher_update.exe
README.TXT
RealCharacterBuilderUpdater.exe
RegPatcher.dat
RegPatcher.exe
remove.manifest
RulesEngineCommon.dll
SampleChars/RPGA_GeneralCampaigns.dndcamp
SampleChars/RPGA_LivingForgottenRealms.dndcamp
SampleChars/SampleHeroes/Aeofel_Elhroman.dnd4e
SampleChars/SampleHeroes/Aeofel_Elhroman.png
SampleChars/SampleHeroes/Binwin_Bronzebottom.dnd4e
SampleChars/SampleHeroes/Binwin_bronzebottom.tif
SampleChars/SampleHeroes/Drizzt.dnd4e
SampleChars/SampleHeroes/Drizzt.png
SampleChars/SampleHeroes/GeranHulmaster.dnd4e
SampleChars/SampleHeroes/GeranHulmaster.png
SampleChars/SampleHeroes/Japheth.dnd4e
SampleChars/SampleHeroes/Japheth.png
SampleChars/SampleHeroes/Jim_Darkmagic.dnd4e
SampleChars/SampleHeroes/Jim_Darkmagic.jpg
SampleChars/SampleHeroes/Omin_Dran.dnd4e
SampleChars/SampleHeroes/Omin_Dran.jpg
SampleChars/SampleHeroes/RaidonKane.dnd4e
SampleChars/SampleHeroes/Raidonkane.png
SampleChars/SampleHeroes/YoungRaistlin.dnd4e
SampleChars/SampleHeroes/YoungRaistlin.png
SamplePortraits/Aeofel_Elhroman.png
SamplePortraits/Binwin_bronzebottom.tif
SamplePortraits/Class_DragonbornRogue.png
SamplePortraits/Class_DwarfCleric.png
SamplePortraits/Class_DwarfFighter2.png
SamplePortraits/Class_DwarfWarlock.png
SamplePortraits/Class_DwarfWizard.png
SamplePortraits/Class_ElfCleric.png
SamplePortraits/Class_ElfRanger.png
SamplePortraits/Class_HumanFighter.png
SamplePortraits/Class_HumanWizard.png
SamplePortraits/Class_TieflingFighter.png
SamplePortraits/Class_TieflingWarlock.png
SamplePortraits/ClassAvenger.png
SamplePortraits/ClassBarbarian.png
SamplePortraits/ClassBard.png
SamplePortraits/ClassDruid.png
SamplePortraits/ClassInvoker.png
SamplePortraits/ClassPortArdent.png
SamplePortraits/ClassPortArtificer.png
SamplePortraits/ClassPortAssassin.png
SamplePortraits/ClassPortAvenger.png
SamplePortraits/ClassPortBarbarian.png
SamplePortraits/ClassPortBard.png
SamplePortraits/ClassPortBattlemind.png
SamplePortraits/ClassPortBladling.png
SamplePortraits/ClassPortCleric.png
SamplePortraits/ClassPortDruid.png
SamplePortraits/ClassPortFighter.png
SamplePortraits/ClassPortInvoker.png
SamplePortraits/ClassPortMonk.png
SamplePortraits/ClassPortPaladin.png
SamplePortraits/ClassPortPsion.png
SamplePortraits/ClassPortRanger.png
SamplePortraits/ClassPortRogue.png
SamplePortraits/ClassPortRunepriest.png
SamplePortraits/ClassPortSeeker.png
SamplePortraits/ClassPortShaman.png
SamplePortraits/ClassPortSorcerer.png
SamplePortraits/ClassPortSwordmage.png
SamplePortraits/ClassPortWarden.png
SamplePortraits/ClassPortWarlock.png
SamplePortraits/ClassPortWarlord.png
SamplePortraits/ClassPortWizard.png
SamplePortraits/ClassShaman.png
SamplePortraits/ClassSorcerer.png
SamplePortraits/ClassWarden.png
SamplePortraits/Drizzt.png
SamplePortraits/Drizzt1.png
SamplePortraits/Drizzt3.png
SamplePortraits/EmptyFrame.png
SamplePortraits/F_Dragonborn1.png
SamplePortraits/F_Dragonborn2.png
SamplePortraits/F_Dwarf1.png
SamplePortraits/F_Dwarf2.png
SamplePortraits/F_Dwarf3.png
SamplePortraits/F_Eladrin1.png
SamplePortraits/F_Eladrin2.png
SamplePortraits/F_Eladrin3.png
SamplePortraits/F_Eladrin4.png
SamplePortraits/F_Elf1.png
SamplePortraits/F_Elf2.png
SamplePortraits/F_Elf3.png
SamplePortraits/F_Genasi1.png
SamplePortraits/F_Halfelf1.png
SamplePortraits/F_Halfelf2.png
SamplePortraits/F_Halfling1.png
SamplePortraits/F_Halfling2.png
SamplePortraits/F_Halfling3.png
SamplePortraits/F_Human1.png
SamplePortraits/F_Human2.png
SamplePortraits/F_Human3.png
SamplePortraits/F_Human4.png
SamplePortraits/F_Human5.png
SamplePortraits/F_Human6.png
SamplePortraits/F_Tiefling1.png
SamplePortraits/F_Tiefling2.png
SamplePortraits/F_Tiefling3.png
SamplePortraits/F_Tiefling4.png
SamplePortraits/F_Tiefling5.png
SamplePortraits/F_Tiefling6.png
SamplePortraits/generic.png
SamplePortraits/Generic_Monster.png
SamplePortraits/GeranHulmaster.png
SamplePortraits/Japheth.png
SamplePortraits/Jim_Darkmagic.jpg
SamplePortraits/M_Dragonborn1.png
SamplePortraits/M_Dragonborn10.png
SamplePortraits/M_Dragonborn2.png
SamplePortraits/M_Dragonborn3.png
SamplePortraits/M_Dragonborn4.png
SamplePortraits/M_Dragonborn5.png
SamplePortraits/M_Dragonborn6.png
SamplePortraits/M_Dragonborn7.png
SamplePortraits/M_Dragonborn8.png
SamplePortraits/M_Dragonborn9.png
SamplePortraits/M_Dwarf1.png
SamplePortraits/M_Dwarf2.png
SamplePortraits/M_Dwarf3.png
SamplePortraits/M_Dwarf4.png
SamplePortraits/M_Dwarf5.png
SamplePortraits/M_Dwarf6.png
SamplePortraits/M_Dwarf7.png
SamplePortraits/M_Dwarf8.png
SamplePortraits/M_Dwarf9.png
SamplePortraits/M_Eladrin1.png
SamplePortraits/M_Eladrin2.png
SamplePortraits/M_Eladrin3.png
SamplePortraits/M_Eladrin4.png
SamplePortraits/M_Elf1.png
SamplePortraits/M_Elf2.png
SamplePortraits/M_Elf3.png
SamplePortraits/M_Elf4.png
SamplePortraits/M_Elf5.png
SamplePortraits/M_Elf6.png
SamplePortraits/M_Elf7.png
SamplePortraits/M_Halfelf1.png
SamplePortraits/M_Halfelf2.png
SamplePortraits/M_Halfelf3.png
SamplePortraits/M_Halfelf4.png
SamplePortraits/M_Halfling2.png
SamplePortraits/M_Halfling3.png
SamplePortraits/M_Halfling4.png
SamplePortraits/M_Human1.png
SamplePortraits/M_Human2.png
SamplePortraits/M_Human3.png
SamplePortraits/M_Human4.png
SamplePortraits/M_Human5.png
SamplePortraits/M_Human6.png
SamplePortraits/M_Human7.png
SamplePortraits/M_Monk1.png
SamplePortraits/M_Tiefling1.png
SamplePortraits/M_Tiefling2.png
SamplePortraits/M_Tiefling3.png
SamplePortraits/M_Tiefling4.png
SamplePortraits/M_Tiefling5.png
SamplePortraits/M_Tiefling6.png
SamplePortraits/M_Tiefling7.png
SamplePortraits/Omin_Dran.jpg
SamplePortraits/RacePortBladeling.png
SamplePortraits/RacePortBugbear.png
SamplePortraits/RacePortBullywug.png
SamplePortraits/RacePortDeva.png
SamplePortraits/RacePortDoppelganger.png
SamplePortraits/RacePortDragonborn.png
SamplePortraits/RacePortDrow.png
SamplePortraits/RacePortDuergar.png
SamplePortraits/RacePortDwarf.png
SamplePortraits/RacePortEladrin.png
SamplePortraits/RacePortElf.png
SamplePortraits/RacePortGenasi.png
SamplePortraits/RacePortGithyanki.png
SamplePortraits/RacePortGithzerai.png
SamplePortraits/RacePortGnoll.png
SamplePortraits/RacePortGnome.png
SamplePortraits/RacePortGoblin.png
SamplePortraits/RacePortGoliath.png
SamplePortraits/RacePortHalf-Elf.png
SamplePortraits/RacePortHalfling.png
SamplePortraits/RacePortHalf-Orc.png
SamplePortraits/RacePortHobgoblin.png
SamplePortraits/RacePortHuman.png
SamplePortraits/RacePortKenku.png
SamplePortraits/RacePortKobold.png
SamplePortraits/RacePortMinotaur.png
SamplePortraits/RacePortOrc.png
SamplePortraits/RacePortRevenant.png
SamplePortraits/RacePortShadar-kai.png
SamplePortraits/RacePortShardmind.png
SamplePortraits/RacePortShifter_-Longtooth.png
SamplePortraits/RacePortShifter_-Razorclaw.png
SamplePortraits/RacePortTiefling.png
SamplePortraits/RacePortWarforged.png
SamplePortraits/RacesChangelingFemale.png
SamplePortraits/RacesChangelingMale.png
SamplePortraits/RacesDevaFemale.png
SamplePortraits/RacesDevaMale.png
SamplePortraits/RacesGnomeFemale.png
SamplePortraits/RacesGnomeMale.png
SamplePortraits/RacesGoliathFemale.png
SamplePortraits/RacesGoliathMale.png
SamplePortraits/RacesHalfOrcFemale.png
SamplePortraits/RacesHalfOrcMale.png
SamplePortraits/RacesKalashtarFemale.png
SamplePortraits/RacesKalashtarMale.png
SamplePortraits/RacesShifterFemale.png
SamplePortraits/RacesShifterMale.png
SamplePortraits/RacesWildenFemale.png
SamplePortraits/RacesWildenMale.png
SamplePortraits/Tanis1.png
SamplePortraits/Tanis2.png
SamplePortraits/YoungRaistlin.png
ServiceAgreement.rtf
Six Builders.bat
Solid.Patcher.dll
tooltips.xml
verify.files
XAMLUtilities.dll
zlib1.dll
